<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>icon</key>
			<string>tint.png</string>
			<key>key</key>
			<string>Tint</string>
			<key>label</key>
			<string>Tint Background</string>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBFPCustomTintsController</string>
			<key>icon</key>
			<string>custom.png</string>
			<key>label</key>
			<string>Custom Tints</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>icon</key>
			<string>semitransparent.png</string>
			<key>key</key>
			<string>Semitransparent</string>
			<key>label</key>
			<string>Semi-Transparent</string>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>icon</key>
			<string>noicon.png</string>
			<key>key</key>
			<string>RemoveIcon</string>
			<key>label</key>
			<string>Remove Icon</string>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>icon</key>
			<string>center.png</string>
			<key>key</key>
			<string>Center</string>
			<key>label</key>
			<string>Center Text</string>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>icon</key>
			<string>animate.png</string>
			<key>key</key>
			<string>Fade</string>
			<key>label</key>
			<string>Fade In</string>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showTestBanner</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Show Test Banner</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>0</integer>
			<key>footerText</key>
			<string>Version 1.1 beta 1
by HASHBANG Productions</string>
			<key>label</key>
			<string>FlagPaint</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>follow</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Follow @hbangws on Twitter</string>
		</dict>
	</array>
	<key>title</key>
	<string>FlagPaint</string>
</dict>
</plist>
