<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The older banner style was previously used in FlagPaint 1.0 and only tints banners with a solid color.
“Album Art Icon” shows the currently playing song’s album art for banners shown by tweaks such as NowListening. Requires the old style to be disabled.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>icon</key>
			<string>tint.png</string>
			<key>key</key>
			<string>Tint</string>
			<key>label</key>
			<string>Tint Background</string>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>icon</key>
			<string>music.png</string>
			<key>key</key>
			<string>AlbumArt</string>
			<key>label</key>
			<string>Album Art Icon</string>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>icon</key>
			<string>oldstyle.png</string>
			<key>key</key>
			<string>OldStyle</string>
			<key>label</key>
			<string>Old Tint Style</string>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>icon</key>
			<string>semitransparent.png</string>
			<key>key</key>
			<string>Semitransparent</string>
			<key>label</key>
			<string>Semi-Transparent</string>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>icon</key>
			<string>noicon.png</string>
			<key>key</key>
			<string>RemoveIcon</string>
			<key>label</key>
			<string>Remove Icon</string>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>icon</key>
			<string>center.png</string>
			<key>key</key>
			<string>CenterText</string>
			<key>label</key>
			<string>Center Text</string>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>icon</key>
			<string>animate.png</string>
			<key>key</key>
			<string>Fade</string>
			<key>label</key>
			<string>Fade In</string>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showTestBanner</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Show Test Banner</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FlagPaint 1.1
© 2012 — 2013, HASHBANG Productions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBFPTwitterCell</string>
			<key>height</key>
			<integer>30</integer>
			<key>label</key>
			<string>Follow @hbangws on Twitter</string>
			<key>user</key>
			<string>hbangws</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Banner style based on a concept by Sentry</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBFPTwitterCell</string>
			<key>height</key>
			<integer>30</integer>
			<key>label</key>
			<string>Follow @A3tweaks on Twitter</string>
			<key>user</key>
			<string>A3tweaks</string>
		</dict>
	</array>
	<key>title</key>
	<string>FlagPaint</string>
</dict>
</plist>
